# EditorConfig is awesome: https://EditorConfig.org
# Example: https://blog.matheuscastiglioni.com.br/padronizando-seus-editores-de-texto-com-editorconfig/

# top-most EditorConfig file
root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
