.my-nav-bar {
  background-color: #4444; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  /* transition: down 0.3s; /* Transition effect when sliding down (and up) */
  transition: transform .5s;
}

h1 {
  font-family: 'Lato';
  font-weight: bold;
  letter-spacing: 0.1em;
}

#full-scren{
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

ul {
  list-style-type: none;
  text-align: center;
  text-transform: capitalize;
  padding-left: 0;
}

.ul-second {
  font-size: small;
}

i {
	font-size: 2.0em;
	padding: 15px 15px 15px 15px;
	border-radius: 50px;
  transition: all .3s;
}

.social-media-icon-top {
  color: white;
  border-style: solid;
  background-color: unset;
}

.social-media-icon-top:hover {
  background-color: #ffffff47;
}


.social-media-icon:hover {
		background-color: #007bff;
		color: white;
}

.jumbotron {
  background: #b4c8ff;
}

#my-photo {
  /* Fazer degradê em borda*/
  background-image: linear-gradient(90deg, #f6cb9f, #697c8e);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 4px;
  border-radius: 80vh;
}

.thumbnail {
  width: 285px;
  height: 185px;
}

.git-link {
  font-size: large;
  padding: 0px;
  padding-right: 10px;
}

/*
.my-badge {
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
}
*/

@media screen and (max-width: 600px) {
  .project{
    width: 100%;

    text-align: -webkit-center;
    margin-top: 3rem!important;
  }
}

@media screen and (max-width: 600px) {
  .mobile-config{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}



.card-title {
    margin-bottom: .25rem;
}

.card {
  height: 350px !important;
}

.badge-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a-hoover:hover {
  text-decoration: none;
}

footer > a {
  width: 1px;
}

footer > a:hover {
  text-decoration: unset;
}


/*
facebook
#3b5997

twitter
#00aced

youtube
background: red;
*/

/*
--breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
*/
